In [11]:
import pandas as pd
from sklearn.feature_selection import VarianceThreshold

In [12]:
df = pd.read_csv('CMAPSSData/train_FD001.csv')
df

,unit_number,cycles,op_setting_1,op_setting_2,op_setting_3,sm_1,sm_2,sm_3,sm_4,sm_5,...,sm_12,sm_13,sm_14,sm_15,sm_16,sm_17,sm_18,sm_19,sm_20,sm_21
0,1,1,-0.0007,-0.0004,100.0,518.67,641.82,1589.70,1400.60,14.62,...,521.66,2388.02,8138.62,8.4195,0.03,392,2388,100.0,39.06,23.4190
1,1,2,0.0019,-0.0003,100.0,518.67,642.15,1591.82,1403.14,14.62,...,522.28,2388.07,8131.49,8.4318,0.03,392,2388,100.0,39.00,23.4236
2,1,3,-0.0043,0.0003,100.0,518.67,642.35,1587.99,1404.20,14.62,...,522.42,2388.03,8133.23,8.4178,0.03,390,2388,100.0,38.95,23.3442
3,1,4,0.0007,0.0000,100.0,518.67,642.35,1582.79,1401.87,14.62,...,522.86,2388.08,8133.83,8.3682,0.03,392,2388,100.0,38.88,23.3739
4,1,5,-0.0019,-0.0002,100.0,518.67,642.37,1582.85,1406.22,14.62,...,522.19,2388.04,8133.80,8.4294,0.03,393,2388,100.0,38.90,23.4044
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20626,100,196,-0.0004,-0.0003,100.0,518.67,643.49,1597.98,1428.63,14.62,...,519.49,2388.26,8137.60,8.4956,0.03,397,2388,100.0,38.49,22.9735
20627,100,197,-0.0016,-0.0005,100.0,518.67,643.54,1604.50,1433.58,14.62,...,519.68,2388.22,8136.50,8.5139,0.03,395,2388,100.0,38.30,23.1594
20628,100,198,0.0004,0.0000,100.0,518.67,643.42,1602.46,1428.18,14.62,...,520.01,2388.24,8141.05,8.5646,0.03,398,2388,100.0,38.44,22.9333
20629,100,199,-0.0011,0.0003,100.0,518.67,643.23,1605.26,1426.53,14.62,...,519.67,2388.23,8139.29,8.5389,0.03,395,2388,100.0,38.29,23.0640
20630,100,200,-0.0032,-0.0005,100.0,518.67,643.85,1600.38,1432.14,14.62,...,519.30,2388.26,8137.33,8.5036,0.03,396,2388,100.0,38.37,23.0522

In [13]:
selector = VarianceThreshold(threshold=0.01)
X_selected = selector.fit_transform(df) 

selected_columns = df.columns[selector.get_support()]
print("Fitur yang dipertahankan:", selected_columns)

Fitur yang dipertahankan: Index(['unit_number', 'cycles', 'sm_2', 'sm_3', 'sm_4', 'sm_7', 'sm_9',
       'sm_11', 'sm_12', 'sm_14', 'sm_17', 'sm_20', 'sm_21'],
      dtype='object')

In [14]:
removed_columns = df.columns[~selector.get_support()]
print("Fitur konstan yang dibuang:", removed_columns)

Fitur konstan yang dibuang: Index(['op_setting_1', 'op_setting_2', 'op_setting_3', 'sm_1', 'sm_5', 'sm_6',
       'sm_8', 'sm_10', 'sm_13', 'sm_15', 'sm_16', 'sm_18', 'sm_19'],
      dtype='object')

In [15]:
df[selected_columns.tolist()]

,unit_number,cycles,sm_2,sm_3,sm_4,sm_7,sm_9,sm_11,sm_12,sm_14,sm_17,sm_20,sm_21
0,1,1,641.82,1589.70,1400.60,554.36,9046.19,47.47,521.66,8138.62,392,39.06,23.4190
1,1,2,642.15,1591.82,1403.14,553.75,9044.07,47.49,522.28,8131.49,392,39.00,23.4236
2,1,3,642.35,1587.99,1404.20,554.26,9052.94,47.27,522.42,8133.23,390,38.95,23.3442
3,1,4,642.35,1582.79,1401.87,554.45,9049.48,47.13,522.86,8133.83,392,38.88,23.3739
4,1,5,642.37,1582.85,1406.22,554.00,9055.15,47.28,522.19,8133.80,393,38.90,23.4044
...,...,...,...,...,...,...,...,...,...,...,...,...,...
20626,100,196,643.49,1597.98,1428.63,551.43,9065.52,48.07,519.49,8137.60,397,38.49,22.9735
20627,100,197,643.54,1604.50,1433.58,550.86,9065.11,48.04,519.68,8136.50,395,38.30,23.1594
20628,100,198,643.42,1602.46,1428.18,550.94,9065.90,48.09,520.01,8141.05,398,38.44,22.9333
20629,100,199,643.23,1605.26,1426.53,550.68,9073.72,48.39,519.67,8139.29,395,38.29,23.0640
20630,100,200,643.85,1600.38,1432.14,550.79,9061.48,48.20,519.30,8137.33,396,38.37,23.0522